{% extends 'precisionagri/index.html' %}
{% block title %} pas crop recommend {% endblock %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}
{% block content %}
<section>
    <div class="container animate__animated animate__zoomIn" style="--animate-duration: 1.5s;">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration" style="border:1.5px solid; border-color:black;box-shadow: 1px 1px 10px 1px rgb(218, 212, 212);">
            <div class="row g-0">
              <div class="col-xl">
                <div class="card-body p-md-5">
                  <form method="post">
                    {% csrf_token %}
                    <h3 class="mb-5 text-center animate__animated animate__lightSpeedInLeft animate__delay-1s">Crop Recommend Form</h3>
                    <div class="row justify-content-center">
                      <div class="col-md-10 mb-4">
                        {% if agriform %}
                        <div class="form-outline animate__animated animate__lightSpeedInLeft animate__delay-1s">
                          {% bootstrap_form agriform %}
                        </div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="d-grid gap-2 col-lg-8 mx-auto animate__animated animate__lightSpeedInLeft animate__delay-1s">
                      <button class="btn btn-success" type="order">Recommend Crop</button>
                      <button class="btn btn-secondary" type="reset">Reset Values</button>
                    </div>
                  </form> 
                </div> <br><br>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
{% endblock %}


          
