{% extends 'precisionagri/index.html' %}
{% block title %} PAS search result {% endblock title %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}
{% block content %}
    <style>
        #srbg{
            background-image: url('{% static "precisionagri/images/" %}{{crop}}.jpg');
        }
    </style>
    <div class="container-fluid" style="--animate-duration: 1.5s;">
        <div class="row justify-content-center">
            <div class="col-11 mt-2">
                <div class="row justify-content-center">
                    <div class="col mt-2 mb-2" data-aos = "zoom-in-up"  data-aos-duration="1500" style="border:1.5px solid; border-color:black;box-shadow: 1px 1px 10px 1px rgb(133, 97, 97);
                        background-position: center; 
                        background-repeat: no-repeat;background-size: cover; height:390px;margin-right:1%;margin-left:1%;" id="srbg">
                    </div>
                <div class="row justify-content-center text-white">  
                    <div class="col-6 mb-2"> <br>
                        <table class="table mb-2">
                            <tbody class="text-white">
                              <tr>
                                <th scope="row" class="animate__animated animate__lightSpeedInRight
                                animate__delay-1s">Nitrogen Value (N) for {{crop}}</th>
                                <td class="animate__animated animate__lightSpeedInLeft
                                animate__delay-1s">{{nitrogen}}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="animate__animated animate__lightSpeedInRight
                                animate__delay-1s">Phosphorus Value (P) for {{crop}}</th>
                                <td class="animate__animated animate__lightSpeedInLeft
                                animate__delay-1s">{{phosphorous}}</td>
                              </tr>
                              <tr>
                                <th scope="row" class="animate__animated animate__lightSpeedInRight
                                animate__delay-1s" >Potassium Value (K) for {{crop}}</th>
                                <td class="animate__animated animate__lightSpeedInLeft
                                animate__delay-1s">{{potassium}}</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-center animate__animated animate__bounceInUp
                    animate__delay-1s">
                        <div class="col-8">
                            <p><strong>Note**</strong> These values are just guidelines and may vary based on
                            specific soil and crop conditions.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
{% endblock %}