{% extends 'precisionagri/index.html' %}
{% block title %} PAS login {% endblock %}
{% load static %}
{% load socialaccount %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_messages %}
{% bootstrap_javascript %}
{% block content %}
<section style="background-color:white;" class="animate__animated animate__zoomInUp" style="--animate-duration: 1.5s;">
  <div class="container py-5"> 
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-8 col-lg-7 col-xl-6 animate__animated animate__lightSpeedInRight animate__delay-1s">
        <img src="{% static 'precisionagri/images/signinbg.jpg' %}" class="img-fluid" alt="signin image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 animate__animated animate__lightSpeedInLeft animate__delay-1s">
        <form method="post">
          <input type="hidden" name= "next" value={{request.GET.next}}>
          {% csrf_token %}
          <h3 class="mb-5 mt-2 text-center">Sign into your account</h3>
          <div class="form-outline mb-4">
            {% bootstrap_form form %}
          </div>
          <div>
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn btn-primary" type="submit">signin</button>
            </div>
            <p class="text-center fw-bold mx-3 mb-0 text-muted mt-3">or continue with</p>
            <div class="mt-4 text-center">
              <a href="{% provider_login_url 'google' %}" type="button" class="btn btn-link btn-floating mx-1">
                <i class="fa-brands fa-google fa-beat-fade"></i>
              </a>

              <a href="{% provider_login_url 'facebook' %}" type="button" class="btn btn-link btn-floating mx-1">
                <i class="fa-brands fa-facebook fa-beat-fade"></i>
              </a>
            </div>
            <p class="text-center fw-bold mx-3 mb-0 text-muted mt-3"><a href="{% url 'pwdchange' %}" style="text-decoration: none;">Forgot Password?</a></p>
            <p class="text-center fw-bold mx-3 mb-0 text-muted mt-3">Don't have an account?<a href="{% url 'signup' %}" style="text-decoration: none;"> Register here</a></p>
          </div>
        </form> 
      </div>
    </div>
  </div> 
</section> <br>
{% endblock content %}
